# Ignore secrets
**/secrets/
**/.secrets/

# Ignore node_modules directory for all projects
**/node_modules/

# Ignore build artifacts
**/dist/
**/.nuxt/

# Ignore IDE and editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Ignore environment files
.env*
bin

# Ignore logs
logs/
*.log

# Ignore dependencies installed by npm
**/package-lock.json
